body {
  font-family: "Montserrat";
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: #F0EAD2;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat-Bold';
}

hr {
  width: 8%;
  border: dotted grey;
  border-width: 0em 0 6px;
}

p {
  color: black;
}


/* Containers */

.flex-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}


/* Navigation Bar */

.header {
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  padding: 20px 50px;
  background: #718355;
  display: flex;
  justify-content: space-between;
  z-index: 100;
}

.title-header {
  font-size: 32px;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  margin: 0;
}

.navbar {
  margin-right: 65px;
  padding: 0;
}

.navbar a {
  position: relative;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  color: #fff;
  font-weight: 500;
  text-decoration: none;
  margin: 20px 10px;
  line-height: 2;
}



.navbar a::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 2px;
  background: #F0EAD2;
  transition: .3s;
}

.navbar a:hover::before {
  width: 100%;
}

.navbar .active::before {
  width: 100%;
}

/* Title Section */
.background {
  position: fixed;
  display: block;
  z-index: -1;
  height: 100%;
  width: 100%;
}

.row {
  margin: 50px 0;
  width: 100%;
  text-align: center;
}

.big-title {
  font-size: 3.5rem;
  font-weight: bold;
}

#title h2 {
  padding-top: 30px;
  color: #718355;
}


/* Drawings Section */

#pictures {
  /* background-color: #F0EAD2; */
  position: relative;
}

.container {
  position: relative;
  min-height: 100vh;
}

.container .image-container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  padding: 10px;
  z-index: 5
}

.container .image-container .drawing {
  height: 300px;
  width: 250px;
  border: 8px solid #718355;
  border-radius: 7%;
  box-shadow: 0 5px 15px rgba(0,0,0,.1);
  overflow: hidden;
  cursor: pointer;
}

.container .image-container .drawing:hover img {
  transform: scale(1.1);
}

.container .popup-image {
  position: fixed;
  top:0; left:0;
  background: rgba(0,0,0,.9);
  height: 100%;
  width: 100%;
  z-index: 100;
}

.container .popup-image span {
  position: absolute;
  top: 0; right: 10px;
  font-size: 60px;
  font-weight: bolder;
  color: #fff;
  cursor: pointer;
}

.container .image-container .drawing img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: .2s linear;
}

.container .popup-image {
  position: fixed;
  top:0; left:0;
  background: rgba(0,0,0,.9);
  height: 100%;
  width: 100%;
  z-index: 100;
  display:none;
}

.container .popup-image span {
  position: absolute;
  top:0; right: 10px;
  font-size: 60px;
  font-weight: bolder;
  color: #fff;
  cursor: pointer;
  z-index: 100;
}

.container .popup-image img {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  max-height: 90%;
  object-fit: cover;
}

@media (max-width:768px) {
  .container .popup-image img {
    width: 95%;
  }
}

/* Footer Section */

#footer {
  height: 10%;
  margin-top: 20px;
  text-align: center;
  position: relative;
}

.social-icon {
  margin: 20px 10px;
}
